# Linux
*~
*.swp

# Windows
Thumbs.db
desktop.ini

# Mac OS X
.DS_Store
._*

# Composer
/composer.phar
/vendor

# node
node_modules/

# tmp
tmp/

# Content specific
content/kurser
!content/kurser/index.md
